#zc-topbar {
	background: #F5F5F5;
	height: 30px;
	border: 1px solid #E6E6E6;
}
#zc-topbar .wrapper {
  height: 30px;
  	
}
#zc-topbar .wrapper .zc-login-info {
  height: 30px;
  width: 290px;
  line-height: 30px;
  float: left;
  /*background: orange;*/
}
#zc-topbar .wrapper .zc-login-info .zc-login-info1 {
  display: inline-block;
  height: 30px;
  width: 68px;
  float: left;
}
#zc-topbar .wrapper .zc-login-info .zc-login-info1 a {
  display: inline-block;
  font-size: 12px;
}
#zc-topbar .wrapper .zc-login-info .zc-login-info1 a:hover{
  color: red;
}
#zc-topbar .wrapper .zc-login-info .zc-login-info2 {
  display: inline-block;
  height: 30px;
  width: 169px;
  float: left;
  font-size: 12px;
}
#zc-topbar .wrapper .zc-login-info .zc-login-info2 a {
  display: inline-block;
  font-size: 12px;
  color: #36c;
}
#zc-topbar .wrapper .zc-login-info .zc-login-info2 a:hover {
  color: red;
}
#zc-topbar .wrapper .zc-login-info .zc-login-info3 {
  display: inline-block;
  height: 30px;
  width: 48px;
  float: left;
  font-size: 12px;
}
#zc-topbar .wrapper .zc-login-info .zc-login-info3 a {
  display: inline-block;
  font-size: 12px;
  color: #36c;
}
#zc-topbar .wrapper .zc-login-info .zc-login-info3 a:hover {
  color: red;
}
#zc-topbar .wrapper .zc-quick-menu {
  height: 30px;
  width: 664px;
  /*background: skyblue;*/
  line-height: 30px;
}
#zc-topbar .wrapper .zc-quick-menu li {
  height: 30px;
  float: left;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  position: relative;
}
#zc-topbar .wrapper .zc-quick-menu li a {
  display: inline-block;
  float: left;
  font-size: 12px;
  color: #666;
}
#zc-topbar .wrapper .zc-quick-menu #zc-quick-menu1 a .zc-up {
  display: inline-block;
  background: url(../img/index_img/top_shang.jpg) no-repeat right 7px;
  width: 16px;
  height: 16px;
}
#zc-topbar .wrapper .zc-quick-menu #zc-quick-menu1 a .zc-down {
  background: url(../img/index_img/top_xia.png) no-repeat right 7px;
  width: 16px;
  height: 16px;
  display: inline-block;
}
#zc-topbar .wrapper .zc-quick-menu #zc-quick-menu1{
	position: relative;
	
}
#zc-topbar .wrapper .zc-quick-menu #zc-quick-menu1 #zc-my-center-bd {
  width: 107px;
  background: #ffff;
   height:80px;
  padding: 3px 9px;
  position: absolute;
  top: 30px;
  left:0px;
  box-sizing: border-box;
  display: none;
  	border: 1px solid #E6E6E6;
}
#zc-topbar .wrapper .zc-quick-menu #zc-mobile {
	 position: relative;
	 vertical-align: center;
	 
	 
}

#zc-topbar .wrapper .zc-quick-menu #zc-mobile a{
	margin-left: 5px;
}
#zc-topbar .wrapper .zc-quick-menu #zc-mobile i{
	display: inline-block;
  width: 16px;
  height:16px;
  position: absolute;
  top: 7px;
  left: -3px;;
  background: url(../img/index_img/top_iphone.png) no-repeat left 0px;
  	
}
#zc-topbar .wrapper .zc-quick-menu #zc-mobile .zc-mobiledown{
	background: url(../img/index_img/top_xia.png) no-repeat right 7px;
  display: inline-block;
   height: 16px;
   width: 16px;
}
#zc-topbar .wrapper .zc-quick-menu #zc-mobile .zc-mobileup{
	background: url(../img/index_img/top_shang.jpg) no-repeat right 7px;
    display: inline-block;
   height: 16px;
   width: 16px;

}
#zc-topbar .wrapper .zc-quick-menu #zc-mobile #zc-mobile2{
	 position: relative;
	 display: none;
}
#zc-topbar .wrapper .zc-quick-menu #zc-mobile #zc-mobile2 img{
	position: absolute;
	top:0px;
	left:-16px;
	border: 1px solid #E6E6E6;
	
	
}

#zc-topbar .wrapper .zc-quick-menu .lianxikefu{
	 position: relative;
	 
}

#zc-topbar .wrapper .zc-quick-menu .lianxikefu .lianxikefudown{
	  background: url(../img/index_img/top_xia.png) no-repeat right 7px;
	  height:14px;
	  width: 14px;
	  display: inline-block;
}
#zc-topbar .wrapper .zc-quick-menu .lianxikefu .lianxikefuup{
	  background: url(../img/index_img/top_shang.jpg) no-repeat right 7px;
	   height:14px;
	  width: 14px;
	  display: inline-block;
}
#zc-topbar .wrapper .zc-quick-menu .lianxikefu .lianxikefu-tel{
	  background: #fffff;
	  width: 104px;
	  text-align: center;
	  display: none;
	  font-size: 12px;
	  position: absolute;
	  left: -22px;
	  top:31px;
	  border: 1px solid #E6E6E6;
	  
}


/*<!--logo-->*/

.logo{
	height:120px;
	line-height: 120px;
	/*background: orange;*/
	padding-top: 20px;
	box-sizing: border-box;
	
}



/*购物车样式*/


.bigcart{
	height:408px;
	/*background: orange;*/
	border-top:2px solid red;
	border: 1px solid #CCCCCC;
	padding-left:20px;
	box-sizing: border-box;
	overflow: auto;
}

.bigcart .bigcart_top{
	height: 37px;
	background: #F5F5F5;
	
	
}
.bigcart .bigcart_top .bigcart_ul{
  
	 height:37px;


}
.bigcart .bigcart_top .bigcart_ul li{
	  float:left;
	  width: 112px;
	  height:37px;
	  color:#333333;
	  line-height: 37px;
	  text-align: center;
	  font-size: 12px;
	
}

.bigcart .bigcart_tu{
	height:53px;
	/*background: olive;*/
	width: 300px;
	line-height:53px;
	
}
.bigcart .bigcart_tu label{
	font-size: 12px;
	color:#333333;
	
}
.bigcart .bigcart_tu a{
	display:inline-block;
	font-size: 12px;
	color: #333333;
}
.bigcart .bigcart_tu a:hover{
	 color: red;
	 text-decoration: underline;
	
}
.bigcart .bigcart_tu img{
	margin-left: 20px;
	
}




/*bigcart_li1*/
.bigcart_li1{
	height:87px;
	/*background: red;*/
	
}
.bigcart_li1 .bigcart_small{
	height:87px;
	width:398px;
	/*background: paleturquoise;*/
	padding-top:10px;
	float: left;
	box-sizing: border-box;

	
}
.bigcart_li1 .bigcart_small img{
	float:left;
	margin-left:10px;
	margin-right: 10px;
	
	
}
.bigcart_li1 .bigcart_small h3{
	float:left;
	font-size: 12px;
	width:300px;
}
.bigcart_li1 .bigcart_small h3:hover{
	color:red;
	text-decoration: underline;
	cursor:pointer;
	
	
}
.bigcart_li1 .bigcart_small input{
	float:left;
	margin-top:22px;
	box-sizing: border-box;
	
	
}
.bigcart_li1 .bigcart_small p{
	font-size: 12px;
	color: #333333;
	display: inline-block;
	width: 300px;
	
}
.bigcart_li1 .bigcart_price{
	height:87px;
	/*background: darkgreen;*/
	float: left;
	margin-left: 70px;
	
}

.bigcart_li1 .bigcart_price span{
	font-size: 12px;
	line-height: 87px;
	height: 87px;
	
	
}

.bigcart_num{
	height:87px;
    width: 120px;
	/*background: orangered;*/
	float: left;
	padding-top: 30px;
	box-sizing: border-box;
	margin-left: 67px;
}

.bigcart_num span{
	background: #C0C0C0;
	height:20px;
	width:30px;
	float: left;
	text-align: center;
	
}
.bigcart_num input{
	height:18px;
	width:40px;
	text-indent: 13px;
	float: left;border: 1px solid #CCCCCC;
	
	
}
.bigcart_subtotal{
	height:87px;
	/*background: fuchsia;*/
	font-size: 12px;
	width: 30px;
	float: left;
	margin-left: 128px;
	padding-top: 30px;
	box-sizing: border-box;
	
}
.bigcart_del{
	height:87px;
	/*background: fuchsia;*/
	font-size: 12px;
	width: 100px;
	float: left;
	margin-left: 69px;
	padding-top: 30px;
	box-sizing: border-box;
	
}
.bigcart_del a:hover{
	color:red;
	text-decoration: underline;
}

/*总计*/

.total{
	height:87px;
	/*background: darkmagenta;*/
	padding-top:30px;
	box-sizing: border-box;
	padding-right: 10px;
	
}

.total p{
	
	color: #333333;
    font-size: 12px;
    line-height: 38px;
    height:38px;
    float: right;
}
.total span{
	color: red;
    font-size: 12px;
    line-height: 38px;
    height:38px;
    float: right;
	
}




/*批量删除*/

.batch{
	height:38px;
	border: 1px solid #CCCCCC;
	/*background: olive;*/
	
	
}
.batch a:nth-child(1){
	float: left;
	color: #333333;
    font-size: 12px;
    line-height: 38px;
    height:38px;
	
}
.batch a:nth-child(1):hover{
	color:red;
	text-decoration: underline;
}
.batch a:nth-child(2){
	float: right;
	color: #FFFFFF;
    font-size: 12px;
    line-height: 38px;
    height:38px;
    width: 130px;
    background: #F6A600;
    text-align: center;
    
	
}
